<div class="image-container">
  <p>Our Gallery of works!</p>
  <p>Sunflowers</p>
  <img alt="photo" height="400px" width="400px" src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Vincent_van_Gogh_-_Sunflowers_-_VGM_F458.jpg">
  <p>Wheatfield with Crows</p>
  <img alt="photo" height="400px" width="400px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Vincent_van_Gogh_-_Wheatfield_with_crows_-_Google_Art_Project.jpg/1920px-Vincent_van_Gogh_-_Wheatfield_with_crows_-_Google_Art_Project.jpg">
  <p>The Potato Eaters</p>
  <img alt="photo" height="400px" width="400px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Van-willem-vincent-gogh-die-kartoffelesser-03850.jpg/1280px-Van-willem-vincent-gogh-die-kartoffelesser-03850.jpg">
  <p>Le Moulin de Blute-Fin</p>
  <img alt="photo" height="400px" width="400px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Vincent_van_Gogh_-_Windmills_on_Montmartre_-_Google_Art_Project.jpg/800px-Vincent_van_Gogh_-_Windmills_on_Montmartre_-_Google_Art_Project.jpg">
  <p>The Night Cafe</p>
  <img alt="photo" height="400px" width="400px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Le_caf%C3%A9_de_nuit_%28The_Night_Caf%C3%A9%29_by_Vincent_van_Gogh.jpeg/1280px-Le_caf%C3%A9_de_nuit_%28The_Night_Caf%C3%A9%29_by_Vincent_van_Gogh.jpeg">
</div>
